nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.5rem 10rem;
}

.logo {
  width: 6rem;
}

.ulHeader {
  display: flex;
  column-gap: 3rem;
}

.ulHeader li a img {
  width: 1.2rem;
}

/* Hero.css */

.button {
  background-color: #206a4a;
  color: white; /* Ubah warna teks tombol */
}

.button:hover {
  background-color: darkorange; /* Ubah warna latar belakang tombol saat dihover */
}
