.penyetoran-main-page{
    overflow: hidden;
    height: 100vh;
}

.penyetoran-container{
    height: 100%;
    padding: 1.5rem;
}

.penyetoran-card{
    height: 100%;
    overflow: scroll;
}

.submit-button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 1rem;
}

.submit-button:hover {
    background-color: darkgray;
}