.main-page{
    overflow: hidden;
}

.admin-container{
    height: 100%;
    width: auto;
    padding-block: 0.5rem;
    display: flex;
}

.dashboard-card{
    height: 90%;
    width: 92%;
    overflow: scroll;
}