.register-card{
    background-color: white;
}

.register-content{
    display: flex;
    justify-content: center;
}

.cardContent{
    padding: 0.5rem;
}

.button{
    background-color: #e47222;
}

.button:hover{
    background-color: #206a4a;
}

.cardTitle{
    color: #206a4a;
}

.loginButton{
    cursor: pointer;
}