.td-container{
    padding-inline: 6rem;
    padding-block: 2rem;
    width: 100%;
    /* height: 90.2vh; */
}

.buttonH{
    padding-inline: 6rem;
    padding-block: 2rem;
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

.description{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
}

.scan-card{
    display: flex;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
}

.td-kiri{
    width: 70%;
    background-color: red;
    flex-grow: 3;
}

.td-kanan{
    width: 30%;
    background-color: white;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.input{
    background-color: white;
}

.td-content > img {
    display: none;
    width: 100%;
    max-width: 720px;
    max-height: 500px;
    border-radius: 10px;
  }
  
  .td-content > video {
    display: none;
    width: 100%;
    max-width: 720px;
    max-height: 500px;
    border-radius: 10px;
  }
  
  .td-content {
    position: relative;
  }
  
  .td-content > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .buttontd {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 2px solid black;
    margin: 0 5px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .buttontd:hover {
    color: black;
    background-color: white;
    border: 2px solid black;
  }

  .buttonSubmit{
    background-color: black;
    color: white;
  }
  