.profile-content {
    padding: 2rem 6rem;
    width: 100%;
    min-height: 100vh;
    box-sizing: border-box;
}

.profile-card {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.user-profile-img {
    width: 15rem;
    height: 15rem;
    border-radius: 1rem;
    object-fit: cover;
}

.data-profile {
    padding: 1rem;
    flex-grow: 1;
}

.user-name {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    margin: 0.5rem 0;
}

.data-header p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    margin: 0.2rem 0;
}

.data-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.data-label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.data {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    margin: 0;
}

.address {
    max-width: 30rem;
    word-wrap: break-word;
}

.edit-profile {
    background-color: #206a4a;
    color: white;
    margin-right: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.edit-profile:hover {
    background-color: #185e3f;
}

.sign-out {
    border: 2px solid #206a4a;
    color: #206a4a;
    background: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.sign-out:hover {
    background-color: #206a4a;
    color: white;
}

/* Tablet view */
@media (max-width: 1024px) {
    .profile-content {
        padding: 2rem 4rem;
    }

    .user-name {
        font-size: 1.75rem;
    }

    .data {
        font-size: 1.2rem;
    }

    .edit-profile,
    .sign-out {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }
}

/* Mobile view */
@media (max-width: 768px) {
    .profile-content {
        padding: 2rem 2rem;
    }

    .user-profile-img {
        width: 10rem;
        height: 10rem;
    }

    .user-name {
        font-size: 1.5rem;
    }

    .data {
        font-size: 1rem;
    }

    .edit-profile,
    .sign-out {
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }
}
